@use './theme/index.scss';
@use './common/mixin' as *;
@use './common/animation';
@use './common/loading';

/* stylelint-disable-next-line selector-id-pattern */
html,
body,
#__nuxt,
#nuxt-test {
  @include scrollbar;
  @apply w-full h-full overflow-hidden bg-default text-color font-sans p-0 m-0 text-base;
}

@font-face {
  font-family: font-ziti;
  src: url('~/assets/fonts/ZhiMangXing-Regular.ttf');
}

*,
::before,
::after {
  -webkit-tap-highlight-color: transparent;

  @apply border-color outline-none;
}
